@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Yatra+One&display=swap');

body {
  font-family: 'Acme', sans-serif;
  text-align: center;
  background-image: url("backgroun-img2.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  font-size: 20px;
}

h1{
  font-size: 3.5rem;
}


#content-box {
  width: 600px;
  height: 700px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 1);
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  font-size: 1.5rem;
}

#calculate {
  width: 190px;
  height: 50px;
  background-color: #df1338;
  color: white;
  font-size: 1.6rem;
  border: none;
  border-radius: 10px;
}

#calculate:hover{
  background-color: transparent;
  border: 2px solid #df1338;
  color: #df1338;
  cursor: pointer;
  transition: 5ms;
}
input{
  margin-left: 8px;
  padding: 10px 20px;
}

input::placeholder, input:focus {
  color: #df1338;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

#calculate:active{
  opacity: 0.5;
}

#result-percentage {
  font-size: 50px;
}

a{
  color: #e91616;
}
a:hover{
  color: #e9161694;
}

#result-percentage{
  font-size: 2rem;
}

#reset-btn{
  opacity: 0;
}
.reset-btn{
  opacity: 0;
}

#reset-btn-active{
  width: 150px;
  height: 35px;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: transparent;
  border: 2px dashed #df1338;
  color: #df1338;
  cursor: pointer;
  border-radius: 5px;
}

#reset-btn-active:hover{
  background-color: #df1338;
  color: #fff;
}

#reset-btn-active:active{
  opacity: 0.5;
}

@media (max-width: 1304px){
  body{
    background-image: url("backgroun-img2.jpg");
    background-size: cover;
    background-repeat: repeat;
    font-size: 16px;
  }
  #content-box {
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 1);
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 1.5rem;
  }
  a{
    color: #000000;
  }
  a:active{
    color: #ffffff;
  }
}
